DATABASE_URL=
JWT_SECRET=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
APP_URL=
VAPID_PUBLIC_KEY=BM27JQ2WqUCQULvJj030BNR3H2yLlzNt5lm0MCUwJcxUxmiHz781H98L-C-yAeE7c2GMMRG6tvMX3-InlQIIiJM
VAPID_PRIVATE_KEY=eEm6MDKjOAk6oiR68g-lW54xt3mQu5WcanXSD3KuJas
VAPID_EMAIL=mailto:info.mohamed35@gmail.com
